<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="data">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Data</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="data-entry">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Data Entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Chart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
